@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.txt {
  overflow-y: auto;
}

.txt-overflow {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  content: "";
}

.txt-overflow-dark {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  content: "";
}

.txt-overflow:after {
  position: sticky;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  background: linear-gradient(transparent, white);
  content: "";
}

.txt-overflow-dark:after {
  position: sticky;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  background: linear-gradient(transparent, rgb(15 23 42));
  content: "";
}
